[submodule "vim/bundle/neco-ghc"]
	path = vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "vim/bundle/vim-hdevtools"]
	path = vim/bundle/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools.git
