*~
*.bak
Empathy/
autostart/
brasero/
chromium/
dconf/
dleyna-renderer-service.conf
dleyna-server-service.conf
enchant/
eog/
epiphany/
evince/
evolution/
fontconfig/
gedit/
git/gitk
gnome-boxes/
gnome-control-center/
gnote/
goa-1.0/
gpick/
gtk-2.0/
gtk-3.0/
inkscape/
libreoffice/
libvirt/
menus/
mimeapps.list
monitors.xml
nautilus/
pavucontrol.ini
pulse/
tomboy/
transmission/
user-dirs.dirs
user-dirs.locale
vim/spell/
vlc/
wpa_supplicant/
yelp/
