/*
*~
\#*#
!/.gitignore
!/.gitmodules
!/LICENSE
!/README.md
!/autostart/
!/emacs/
!/environment
!/git/
!/gnupg/
!/lbdb/
!/mc/
!/mutt/
!/mysetup
!/vim/
!/ssh/
!/xmonad/
!/zsh/
!/Xdefaults
mc/hotlist
TAGS
