TerminalWindow .notebook {
  border: 0;
  padding: 0;
}

TerminalWindow .notebook tab {
  border-radius: 0px;
}

TerminalWindow .notebook tab:active {
  background-color: #BFB;
}

/* Hide border around evince */
.window-frame, .window-frame:backdrop {
 box-shadow: 0 0 0 black;
 border-style: none;
 margin: 0;
 border-radius: 0;
}

.titlebar {
 border-radius: 0;
}
