# which mailboxes to list in the sidebar
#mailboxes "+INBOX" \
#  "+ML/Debian" \
#  "+ML/Debian/Announce" \
#  "+[Google Mail]/All Mail"

set sidebar_visible = yes
set sidebar_width = 18

macro index,pager B '<enter-command>toggle sidebar_visible<enter>'

# ctrl-n, ctrl-p to select next, prev folder
# ctrl-o to open selected folder
bind index CP sidebar-prev
bind index CN sidebar-next
bind index CO sidebar-open
bind pager CP sidebar-prev
bind pager CN sidebar-next
bind pager CO sidebar-open
