# set up the sidebar, default not visible
#set sidebar_width=12
#set sidebar_visible=no
#set sidebar_delim='|'
#set sidebar_sort=yes

# which mailboxes to list in the sidebar
mailboxes "imaps://imap.gmail.com/INBOX" \
  "imaps://imap.gmail.com/ML/Debian" \
  "imaps://imap.gmail.com/ML/Debian/Announce" \
  "imaps://imap.gmail.com/ML/Haskell" \
  "imaps://imap.gmail.com/Promotions" \
  "imaps://imap.gmail.com/VonMirAnMich"
#  "imaps://imap.gmail.com/[Google Mail]/All Mail"

# color of folders with new mail
color sidebar_new yellow default

# ctrl-n, ctrl-p to select next, prev folder
# ctrl-o to open selected folder
bind index CP sidebar-prev
bind index CN sidebar-next
bind index CO sidebar-open
bind pager CP sidebar-prev
bind pager CN sidebar-next
bind pager CO sidebar-open
